# Personal shared volume
shared-data-volumes/
shared-resources/

# PyCharm workspace
.idea/

# TODO: needs to be removed once the multi-containers/images update is fully functionnal
shared-data/

# Build logs for debugging
.build.log
