[submodule "sources"]
	path = exegol-docker-build
	url = https://github.com/ShutdownRepo/Exegol-images.git
	branch = main
[submodule "exegol-resources"]
	path = exegol-resources
	url = https://github.com/ShutdownRepo/Exegol-resources
	branch = main
