[submodule "exegol-images"]
	path = exegol-images
	url = https://github.com/ThePorgs/Exegol-images.git
	branch = main
[submodule "exegol-resources"]
	path = exegol-resources
	url = https://github.com/ThePorgs/Exegol-resources
	branch = main
