docker~=5.0.2
requests~=2.23.0
pandas~=1.0.5
numpy==1.19.3 #temporary fix for issue #33: forced numpy version while this fix is not over: https://tinyurl.com/y3dm3h86
tabulate~=0.8.2
python-dateutil~=2.8.1
rich~=10.9.0
pyasn1~=0.4.8
psutil~=5.7.2