docker~=7.1.0
requests~=2.32.5
rich~=14.2.0
GitPython~=3.1.43
PyYAML>=6.0.3
argcomplete~=3.6.3
tzlocal~=5.2; platform_system != 'Linux'
ifaddr~=0.2.0
supabase~=2.18.1
pydantic~=2.12.3
pyjwt>=2.10.1
pyjwt[crypto]>=2.10.1
cryptography~=46.0.3
python-dateutil>=2.9.0; python_version < '3.11'
